<div class="container mt-5">
    .<div class="row justify-content-center">
        <div class="container text-center">
            <h2>INFORME SOCIAL-MOVILIDAD HUMANA</h2>
            <hr>
        </div>

        <form style="max-width: 700px; margin:0 auto; background-color: #ececec;">

            <div class="container my-3">

                <div class="form-group my-2 ">
                    <label>Num. Indentificación</label>
                    <div class="col-6 my-2">
                        <input type="text" class="form-control" required>
                        <button class="btn btn-secondary my-2" data-bs-toggle="modal"
                            data-bs-target="#nombreRepresentante">buscar</button>
                    </div>
                </div>

                <div class="form-group my-2">
                    <h6>1.Motivo del informe</h6>
                    <textarea class="form-control" rows="2"></textarea>
                </div>
                <div class="form-group my-2">
                    <h6>2.Antecendentes de la situación</h6>
                    <textarea class="form-control" rows="2"></textarea>
                </div>

                <div class="form-group">
                    <label>Fecha de ingreso al país</label>
                    <!-- tabla -->
                    <div class="container">
                        <div class="table-responsive"></div>
                        <table class="table table-sm table-bordered table-light mt-3 tamaño-table">
                            <thead>
                                <tr>
                                    <th scope="col" class="bg-secondary tamaño-titulo">Nombres y apellidos </th>
                                    <th scope="col" class="bg-secondary tamaño-titulo">Fecha de ingresoa al Ecuador</th>
                                    <th scope="col" class="bg-secondary tamaño-titulo">¿Hace que tiempo salió de su
                                        pais?</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="tamaño-fuente">Sebeira Josefina Miles Piñeros</td>
                                    <td class="tamaño-fuente">26/11/2021</td>
                                    <td class="tamaño-fuente">10 meses</td>
                                </tr>
                                <tr>
                                    <td class="tamaño-fuente">Adiaram Isay Palma Lopez</td>
                                    <td class="tamaño-fuente">26/11/2021</td>
                                    <td class="tamaño-fuente">10 meses</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="form-group my-2 ">
                    <h6>3.Fecha de elaboración del informe</h6>
                    <div class="col-5">
                        <input type="date" class="form-control" required>
                    </div>
                </div>

                <h6 class="form-group mt-5">4.Datos de identificación población objetivo, en el ciclo de vida</h6>



                <!-- tabla -->
                <div class="container">
                    <div class="table-responsive">

                        <table class="table table-sm table-bordered table-light mt-3 tamaño-table">
                            <thead>
                                <tr>
                                    <th scope="col" class="bg-secondary tamaño-titulo">Nombres y apellidos </th>
                                    <th scope="col" class="bg-secondary tamaño-titulo">Sexo/genero</th>
                                    <th scope="col" class="bg-secondary tamaño-titulo">Edad</th>
                                    <th scope="col" class="bg-secondary tamaño-titulo">Nacionalidad</th>
                                    <th scope="col" class="bg-secondary tamaño-titulo">Parentesco</th>
                                    <th scope="col" class="bg-secondary tamaño-titulo">Ultimo año de estudio aprobado
                                    </th>
                                    <th scope="col" class="bg-secondary tamaño-titulo">N° documentto identificación o
                                        pasaporte</th>
                                    <th scope="col" class="bg-secondary tamaño-titulo">Docuementos de ingreso al
                                        país¿Cuales?</th>
                                    <th scope="col" class="bg-secondary tamaño-titulo">Profesión</th>
                                    <th scope="col" class="bg-secondary tamaño-titulo">Ocupación en el país de origen
                                    </th>
                                    <th scope="col" class="bg-secondary tamaño-titulo">Ocupación actual o actividad que
                                        realiza</th>
                                    <th scope="col" class="bg-secondary tamaño-titulo">Ingreso mensual</th>
                                    <th scope="col" class="bg-secondary tamaño-titulo">Interes de
                                        capacitación¿si/no?¿cual?</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="tamaño-fuente">Sobeira Josefina Miles Pifiero</td>
                                    <td class="tamaño-fuente">F</td>
                                    <td class="tamaño-fuente">57</td>
                                    <td class="tamaño-fuente">Venezolana</td>
                                    <td class="tamaño-fuente">Madre</td>
                                    <td class="tamaño-fuente">7 de basica</td>
                                    <td class="tamaño-fuente">V.8.816.349</td>
                                    <td class="tamaño-fuente">Cedula de pais de origen</td>
                                    <td class="tamaño-fuente">Ninguna</td>
                                    <td class="tamaño-fuente">Cuidado de adulatos mayores y limpieza</td>
                                    <td class="tamaño-fuente">Empleada privada cuidado de un niño</td>
                                    <td class="tamaño-fuente">$ 150</td>
                                    <td class="tamaño-fuente">Si constura y manualidades</td>
                                </tr>
                                <tr>
                                    <td class="tamaño-fuente">Jose Gregorio Pefialver Misle</td>
                                    <td class="tamaño-fuente">M</td>
                                    <td class="tamaño-fuente">37</td>
                                    <td class="tamaño-fuente">Venezolana</td>
                                    <td class="tamaño-fuente">Hijo</td>
                                    <td class="tamaño-fuente">7 de basica</td>
                                    <td class="tamaño-fuente">V.26.051.849</td>
                                    <td class="tamaño-fuente">Cedula de pais de origen</td>
                                    <td class="tamaño-fuente">Ninguna</td>
                                    <td class="tamaño-fuente">Niguna</td>
                                    <td class="tamaño-fuente">Albañil</td>
                                    <td class="tamaño-fuente">$ 400</td>
                                    <td class="tamaño-fuente">No</td>
                                </tr>

                            </tbody>
                        </table>

                    </div>
                </div>

                <h6 class="mt-5">5. Indentificación de situaciones de vulnerabilidad de derechos de la población
                    objetivo:</h6>
                <hr>
                <!-- tabla de situacion de vulnerabilidad -->

                <div class="container">
                    <div class="table-responsive">

                        <table class="table table-sm table-bordered table-light mt-3 tamaño-table">
                            <thead>
                                <tr>
                                    <th scope="col" class="bg-secondary tamaño-titulo">Nro</th>
                                    <th scope="col" class="bg-secondary tamaño-titulo">NNA acompañado</th>
                                    <th scope="col" class="bg-secondary tamaño-titulo">NNA separado</th>
                                    <th scope="col" class="bg-secondary tamaño-titulo">Mendicidad</th>
                                    <th scope="col" class="bg-secondary tamaño-titulo">Trabajo infantil</th>
                                    <th scope="col" class="bg-secondary tamaño-titulo">Presunta trata de personas con
                                        fines de mendicidad</th>
                                    <th scope="col" class="bg-secondary tamaño-titulo">Enfermedad Catastrofica</th>
                                    <th scope="col" class="bg-secondary tamaño-titulo">Discapacidad(tipo)</th>
                                    <th scope="col" class="bg-secondary tamaño-titulo">Embarazada sin control parental
                                    </th>
                                    <th scope="col" class="bg-secondary tamaño-titulo">Maltrato infantil</th>
                                    <th scope="col" class="bg-secondary tamaño-titulo">Violencia intrafamiliar</th>
                                    <th scope="col" class="bg-secondary tamaño-titulo">Victima de
                                        discriminacion/xenofobia</th>
                                    <th scope="col" class="bg-secondary tamaño-titulo">Otra vulnerabilidad</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="tamaño-fuente">1</td>
                                    <td class="tamaño-fuente">No aplica</td>
                                    <td class="tamaño-fuente">No aplica</td>
                                    <td class="tamaño-fuente">No</td>
                                    <td class="tamaño-fuente">No</td>
                                    <td class="tamaño-fuente">No</td>
                                    <td class="tamaño-fuente">No</td>
                                    <td class="tamaño-fuente">No</td>
                                    <td class="tamaño-fuente">No</td>
                                    <td class="tamaño-fuente">No</td>
                                    <td class="tamaño-fuente">No</td>
                                    <td class="tamaño-fuente">No</td>
                                    <td class="tamaño-fuente">Ninguna</td>

                                </tr>
                                <tr>
                                    <td class="tamaño-fuente">2</td>
                                    <td class="tamaño-fuente">No aplica</td>
                                    <td class="tamaño-fuente">No aplica</td>
                                    <td class="tamaño-fuente">No</td>
                                    <td class="tamaño-fuente">No</td>
                                    <td class="tamaño-fuente">No</td>
                                    <td class="tamaño-fuente">No</td>
                                    <td class="tamaño-fuente">No</td>
                                    <td class="tamaño-fuente">No</td>
                                    <td class="tamaño-fuente">No</td>
                                    <td class="tamaño-fuente">No</td>
                                    <td class="tamaño-fuente">No</td>
                                    <td class="tamaño-fuente">Ninguna</td>
                                </tr>

                            </tbody>
                        </table>

                    </div>

                </div>

            </div>

            <h6 class="mt-5">6.Datos de indentificación del representante</h6>
            <hr>

            <div class="container">
                <div class="form-group my-2 ">
                    <label>Nombres y apellidos del representante en caso de niños, niñas y adolecentes:</label>
                    <input type="text" class="form-control" value="Adriana Nohely López Misle" disabled>
                </div>
                <div class="form-group my-2 ">
                    <label>Nu. Cédula y/u otro ducumento:</label>
                    <input type="text" class="form-control" value="V.27.286.893" disabled>
                </div>
                <div class="form-group my-2 ">
                    <label>Lugar y fecha de nacimiento:</label>
                    <input type="text" class="form-control" value="Caracas, 30 de Agosto de 1998" disabled>
                </div>
                <div class="form-group my-2 ">
                    <label>Edad:</label>
                    <input type="text" class="form-control" value="24 años" disabled>
                </div>
                <div class="form-group my-2 ">
                    <label>Etnia:</label>
                    <input type="text" class="form-control" value="Mestizo" disabled>
                </div>
                <div class="form-group my-2 ">
                    <label>Grado de isntrucción:</label>
                    <input type="text" class="form-control" value="5to Curso - Bachillerato" disabled>
                </div>
                <div class="form-group my-2 ">
                    <label>Dirección:</label>
                    <input type="text" class="form-control" value="Calle Rumi Urco entre Guapondelig y Rio Curaray"
                        disabled>
                </div>
                <div class="form-group my-2 ">
                    <label>Referencia de la dirección domiciliaria:</label>
                    <input type="text" class="form-control" value="Sector del cementerio Municipal, Frente a una tienda.
                    La vivienda de dos pisos portón de color negrio" disabled>
                </div>
                <div class="form-group my-2 ">
                    <label>Telefono:</label>
                    <input type="text" class="form-control" value="0990030177" disabled>
                </div>
                <div class="form-group my-2 ">
                    <label>Ocupaacion/actividad laboral:</label>
                    <input type="text" class="form-control" value="Empleada domestica empleo ocacional" disabled>
                </div>
                <div class="form-group my-2 ">
                    <label>Lugar donde se desempeña su actividad:</label>
                    <input type="text" class="form-control" value="Actual mente no se encuentra laborando" disabled>
                </div>
                <div class="form-group my-2 ">
                    <label>Horario de actividad:</label>
                    <input type="text" class="form-control" value="Ninguna" disabled>
                </div>
                <div class="form-group my-2 ">
                    <label>Horas de la actividad:</label>
                    <input type="text" class="form-control" value="Ninguna" disabled>
                </div>
                <div class="form-group my-2 ">
                    <label>Dirección domiciliaria:</label>
                    <input type="text" class="form-control" value="Ninguna" disabled>
                </div>
                <div class="form-group my-2 ">
                    <label>Luagar de referencia del domiciolio:</label>
                    <input type="text" class="form-control" value="Ninguna" disabled>
                </div>
            </div>


            <h6 class="mt-5">7. Relaciones y vinculos familiares </h6>
            <hr>
            <div class="container">

                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Pareja</span>
                    <input type="text" class="form-control" aria-label="Sizing example input"
                        aria-describedby="inputGroup-sizing-sm" value="NO APLICA">
                </div>
                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Entre adultos y niños y adolecentes</span>
                    <input type="text" class="form-control" aria-label="Sizing example input"
                        aria-describedby="inputGroup-sizing-sm" value="BUENA">
                </div>
                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Entre adultos</span>
                    <input type="text" class="form-control" aria-label="Sizing example input"
                        aria-describedby="inputGroup-sizing-sm" value="REGULAR">
                </div>
                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Entre niños, niñas y adolecentes</span>
                    <input type="text" class="form-control" aria-label="Sizing example input"
                        aria-describedby="inputGroup-sizing-sm" value="NO APLICA">
                </div>

            </div>

            <h6 class="mt-5">8. Situación Socioeconómica</h6>
            <hr>

            <div class="container">

                <!-- Intento num 1 -->
                <div class="row">
                    <div class="col-md-4">
                        <!--  -->
                        <h6 class="mt-5">Egresos</h6>
                        <hr>
                        <div class="table-responsive">
                            <table class="table table-sm table-bordered table-light mt-3 tamaño-table">
                                <thead>
                                    <tr>
                                        <th scope="col" class="bg-secondary tamaño-titulo">Grupo familiar</th>
                                        <th scope="col" class="bg-secondary tamaño-titulo">Egresos</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="tamaño-fuente">Alimentación</td>
                                        <td class="tamaño-fuente">$ 200</td>
                                    </tr>
                                    <tr>
                                        <td class="tamaño-fuente">Salud</td>
                                        <td class="tamaño-fuente">$ 20</td>
                                    </tr>
                                    <tr>
                                        <td class="tamaño-fuente">Educación</td>
                                        <td class="tamaño-fuente">$ 20</td>
                                    </tr>
                                    <tr>
                                        <td class="tamaño-fuente">Transporte</td>
                                        <td class="tamaño-fuente">$ 15</td>
                                    </tr>
                                    <tr>
                                        <td class="tamaño-fuente">Recreación</td>
                                        <td class="tamaño-fuente">$ 0</td>
                                    </tr>
                                    <tr>
                                        <td class="tamaño-fuente">Luz</td>
                                        <td class="tamaño-fuente">$ 0</td>
                                    </tr>
                                    <tr>
                                        <td class="tamaño-fuente">Agua</td>
                                        <td class="tamaño-fuente">$ 0</td>
                                    </tr>
                                    <tr>
                                        <td class="tamaño-fuente">Telefono</td>
                                        <td class="tamaño-fuente">$ 0</td>
                                    </tr>
                                    <tr>
                                        <td class="tamaño-fuente">Internet</td>
                                        <td class="tamaño-fuente">$ 0</td>
                                    </tr>
                                    <tr>
                                        <td class="tamaño-fuente">Otros(Arriendo)</td>
                                        <td class="tamaño-fuente">$ 150</td>
                                    </tr>
                                    <tr>
                                        <td class="tamaño-fuente">Total</td>
                                        <td class="tamaño-fuente">$ 435</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>


                    </div>
                    <div class="col-md-4">
                        <h6 class="mt-5">Ingresos</h6>
                        <hr>
                        <!--  -->
                        <div class="table-responsive">
                            <table class="table table-sm table-bordered table-light mt-3 tamaño-table">
                                <thead>
                                    <tr>
                                        <th scope="col" class="bg-secondary tamaño-titulo">Otros ingresos</th>
                                        <th scope="col" class="bg-secondary tamaño-titulo">Valor</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="tamaño-fuente">Ayuda familiar dentro o fuere del país</td>
                                        <td class="tamaño-fuente">$ 250</td>
                                    </tr>
                                    <tr>
                                        <td class="tamaño-fuente">Pension/juvilación</td>
                                        <td class="tamaño-fuente">$ 0</td>
                                    </tr>
                                    <tr>
                                        <td class="tamaño-fuente">Becas PNGs</td>
                                        <td class="tamaño-fuente">$ 0</td>
                                    </tr>
                                    <tr>
                                        <td class="tamaño-fuente">Otros/ ¿Cuales?</td>
                                        <td class="tamaño-fuente">$ 400</td>
                                    </tr>
                                    <tr>
                                        <td class="tamaño-fuente">Total</td>
                                        <td class="tamaño-fuente">$ 650</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>

                    </div>

                </div>
                <!-- intento num1 -->

                <div class="form-group my-2 ">
                    <label>Total Ingresos:</label>
                    <div class="col-3">
                        <input type="text" class="form-control" value="$ 650" disabled>
                    </div>
                    <label>Total Egresos:</label>
                    <div class="col-3">
                        <input type="text" class="form-control" value="$ 435" disabled>
                    </div>
                    <label>Observaciones</label>

                    <input type="text" class="form-control" value="El hijo mayor no aporta económicamente al hogar"
                        disabled>

                </div>

            </div>

            <h6 class="mt-5">8. SITUACIÓN DE VIVIENDA</h6>
            <hr>

            <div class="container">
                <label>Tipo de vivienda</label><br><br>
                <div class="container">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox">
                            Casa
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox">
                            Departamento
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox">
                            Cuarto
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox">
                            Media Agua
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox">
                            Covacha
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox">
                            Albergue/Refugio
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox">
                            Niguna
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox">
                            Otro/cuál
                        </label>
                    </div>
                </div>

                <!-- Materia de la vivienda -->
                <label>Tipo de vivienda</label><br><br>
                <div class="container">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox">
                            Hormigon
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox">
                            Bloque/ladrillo
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox">
                            Asbesto/cemento
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox">
                            Madera
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox">
                            Bareque(caña y carrizo revestido)
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox">
                            Caña
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox">
                            Plastico
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox">
                            Otro/cuál
                        </label>
                    </div>
                </div>

                <!-- Posesión de la vivienda -->
                <label>Posesión de la vivienda</label><br><br>
                <div class="container">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox">
                            Propia
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox">
                            Arrendada
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox">
                            Prestada
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox">
                            Anticresis
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox">
                            Cedida o gratuita
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox">
                            Resivida Servicios
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox">
                            Invasión
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox">
                            Otro/cuál
                        </label>
                    </div>
                </div>

                <!-- Distribución de la vivienda -->
                <label>Distribución de la vivienda</label><br><br>
                <div class="container">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox">
                            Sala
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox">
                            Comedor
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox">
                            Cocina
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox">
                            Baño
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox">
                            Letrina/pozo séptico
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox">
                            N Dormitorios
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox">
                            No. camas en vivienda
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox">
                            Otro/cuál
                        </label>
                    </div>

                </div>

                <!-- Servicios Básicos -->
                <label>Servicios Básicos</label><br><br>
                <div class="container">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox">
                            Agua
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox">
                            Luz
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox">
                            Alacantarillado
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox">
                            teléfono
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox">
                            Recolección de basura
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox">
                            internet
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox">
                            Otro/cuál
                        </label>
                    </div>

                </div>

            </div>

            <h6 class="mt-5">9.1 Estado de la vivienda</h6>
            <hr>

            <div class="container">
                <div class="form-group my-2">
                    <label>Techo</label>
                    <div class="col-5">
                        <select class="form-select">
                            <option>Bueno</option>
                            <option>Regular</option>
                            <option>Malo</option>
                        </select>
                    </div>
                </div>
                <div class="form-group my-2">
                    <label>Piso</label>
                    <div class="col-5">
                        <select class="form-select">
                            <option>Bueno</option>
                            <option>Regular</option>
                            <option>Malo</option>
                        </select>
                    </div>
                </div>
                <div class="form-group my-2">
                    <label>Pared</label>
                    <div class="col-5">
                        <select class="form-select">
                            <option>Bueno</option>
                            <option>Regular</option>
                            <option>Malo</option>
                        </select>
                    </div>
                </div>
                <div class="form-group my-2">
                    <label>Puertas</label>
                    <div class="col-5">
                        <select class="form-select">
                            <option>Bueno</option>
                            <option>Regular</option>
                            <option>Malo</option>
                        </select>
                    </div>
                </div>
                <div class="form-group my-2">
                    <label>Ventanas</label>
                    <div class="col-5">
                        <select class="form-select">
                            <option>Bueno</option>
                            <option>Regular</option>
                            <option>Malo</option>
                        </select>
                    </div>
                </div>
                <div class="form-group my-2">
                    <label>Otros</label>
                    <div class="col-5">
                        <select class="form-select">
                            <option>Bueno</option>
                            <option>Regular</option>
                            <option>Malo</option>
                        </select>
                    </div>
                </div>
            </div>

            <div align="right">

                <button type="button" class="btn btn-secondary btn-sm" style="margin-right: 20px;">Imprimir
                    ficha</button>
                <button type="button" class="btn btn-primary btn-sm">Guardar</button>
            </div>



        </form>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="nombreRepresentante" data-backdrop="static" tabindex="-1"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Nombre del representante</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <label for="" class="my-2">Cedula:</label>
                <input type="text" placeholder="Num. de identificación">
            </div>
            <!-- Tabla con los representantes -->
            <div class="container">

                <table class="table table-bordered mt-3">
                    <thead>
                        <tr>
                            <th scope="col">Identidficación</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Apellido</th>
                            <th scope="col">E-mail</th>
                            <th scope="col">Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>0215212154</td>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                            <td><button class="btn btn-primary">Agregar</button></td>
                        </tr>
                        <tr>
                            <td>0215212154</td>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                            <td><button class="btn btn-primary">Agregar</button></td>
                        </tr>
                        <tr>
                            <td>0215212154</td>
                            <td>Larry</td>
                            <td>Bird</td>
                            <td>@twitter</td>
                            <td><button class="btn btn-primary">Agregar</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- fin Tabla con los representantes -->

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div> 